<title>
    {{site.title}}
</title>

<link rel="stylesheet" href="{{site.url}}{{site.baseurl}}/assets/css/styles.css">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">


<meta name="viewport" content="width=device-width, initial-scale= 1.0, maximum-scale=2.0, viewport-fit= cover"/> 

