

.inspire-description{
    position: relative;
    color: $grey;
    margin-left: 90px;
    width: 30%;
    top: 300px;
}



.weblinkContainer {
position: relative;
overflow: hidden;
width: 50%;
float: right;
margin-top: 20px;
right: 0px;
font-family: $inspire;
margin-right: 0px;
text-overflow: ellipsis;


}
#myBtnContainer{

width: calc(50% - 50px);
position: fixed;
bottom: 20px;
left: 40px;
list-style: none;
z-index: 5;
}
  
  
  
.filterDiv {
border-bottom: 1px solid rgb(177, 174, 174);
color: black;
width: 500px;
height: 50px;
line-height: 50px;
margin: 0px;
font-family: $inspire;
color: $grey;
font-size: 15px;
display: none; /* Hidden by default */
}

/* The "show" class is added to the filtered elements */
.show {
display: block;
}

/* Style the buttons */
.btn {
border: none;
padding: 8px 5px;
background-color: white;
cursor: pointer;
font-size: 13px;
font-family: $inspire;
font-weight: 300;

}

// hover effects
.btn:hover {
transform: scale(1.06);
}



.weblinkContainer
a{
    color: $grey;
    text-decoration: none;
    font-family: $inspire;
    text-overflow: ellipsis;
    width: 575px;
    overflow: hidden;
    white-space: nowrap;
}

a:hover{
    transform: scale(1.01);
}
.dot{
    height: 9px;
    width: 9px;
    background-color: $dot;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
}


// dot colours
.arts
.dot{
    background-color: $arts;
}
.sciences
.dot{
    background-color: $sciences;
}
.misc
.dot{
    background-color: $misc;
}
.business
.dot{
    background-color: $business;
}
