// Colors
$default-color: #555;
$default-shade: #353535;
$default-tint: #aaa;
$grey-1: #979797;
$grey-2: #e5e5e5;
$grey-3: #f9f9f9;
$white: #fff;
$blue: #4a9ae1;
$shadow-color: rgba(0, 0, 0, .2);
$code-color: #bf616a;

// Fonts
$serif-primary: 'Libre Baskerville',
'Times New Roman',
Times,
serif;
$serif-secondary: 'Palatino',
'Palatino LT STD',
'Palatino Linotype',
'Book Antiqua',
'Georgia',
serif;
$sans-serif: 'Helvetica Neue',
'Segoe UI',
Helvetica,
Arial,
sans-serif;
$monospaced: 'Menlo, Monaco',
monospace;

@mixin box-sizing($type: border-box) {
  -webkit-box-sizing: $type;
  -moz-box-sizing: $type;
  box-sizing: $type;
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  transition: $args;
}


.catalogue {
  margin-left: 20em;
  margin-top: 5em;
  margin-right: 20em;

  &-item {
    border-bottom: 1px solid $grey-2;
    color: $default-color;
    display: block;
    padding: 2rem 0;

    &:hover .catalogue-line,
    &:focus .catalogue-line {
      width: 5rem;
    }

    &:last-child {
      border: 0;
    }
  }

  &-time {
    color: #2F4F4F;
    font-family: $serif-secondary;
    letter-spacing: .5px;
  }

  &-title {
    color: $default-shade;
    display: block;
    font-family: $sans-serif;
    font-size: 1rem;
    font-weight: 700;
    margin: .5rem 0;
  }

  &-line {
    @include transition(all .3s ease-out);
    border-top: .2rem solid $default-shade;
    display: block;
    width: 2rem;
  }
}